<h4>Список ответов вопроса "<%= @question.body %>"</h4>

<%= link_to 'Добавить ответ', new_question_answer_path(@question) %><br><br>

<table>
  <thead>
    <tr>
      <td>Вопросы</td>
      <td colspan="3">Операции</td>
    </tr>
  </thead>
  <tbody>
    <%= render @question.answers %>
  </tbody>
</table>
<br>

<%= link_to 'Изменить вопрос', edit_question_path %>
<br>
<%= link_to 'Удалить вопрос', question_path,
             method: :delete,
             data: { confirm: 'Вы уверены, что хотите удалить вопрос?' } %>
<br><br>

<%= link_to 'Назад', test_path(@question.test) %>
