<%= test_header test: @test %>

<%= form_with model: @test, local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :level %><br>
    <%= form.text_field :level %>
  </p>

  <p>
    <%= form.label :category_id %><br>
    <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Назад', :back %>