<%= content_tag :h1, @test_passage.test.title %>

<%= content_tag :h3, questions_amount(@test_passage) %>

<p><%= @test_passage.current_question.body %></p>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <%= form.submit 'Next' %>
<% end %>
