<header>
  <div class="mailer-list">
    <%= link_to t('.mailer'), '/rails/mailers/tests_mailer/' %>
  </div>

  <div class="header">
    <% if user_signed_in? %>
      <p><%= t('.welcome') %>, <%= current_user.username %>!</p>
      <p><%= l(Time.current, format: :short) %></p>

      <%= link_to t('.logout'), destroy_user_session_path, method: :delete  %>
    <% end %>
  </div>
</header>
