<%= answer_header answer: @answer %>

<%= form_with model: [:admin, @question, @answer], local: true do |form| %>
  <%= render 'shared/errors', resource: @answer %>

  <p>
    <%= form.label :body %><br>
    <%= form.text_field :body %>
  </p>

  <p>
    <%= form.label :correct %><br>
    <%= form.check_box :correct %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<div class="button-back">
  <%= link_to t('.button_back'), :back %>
</div>
