<%= answer_header answer: @answer, question: @question %>

<%= form_with model: [@question, @answer], local: true do |form| %>
  <%= render 'shared/errors', resource: @answer %>

  <p>
    <%= form.label :body, 'Наименование' %><br>
    <%= form.text_field :body %>
  </p>

  <p>
    <%= form.label :correct, 'Правильный ответ' %><br>
    <%= form.check_box :correct %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Назад', question_path(@answer.question ||= @question) %>