<%= question_header question: @question, test: @test || @question.test %>

<%= form_with model: [:admin, @test, @question], local: true do |form| %>
  <%= render 'shared/errors', resource: @question %>
  
  <p>
    <%= form.label :body, 'Наименование' %><br>
    <%= form.text_field :body %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<div class="button-back">
	<%= link_to 'Назад', :back %>
</div>
