<div class="info-block">
  <h4><%= @question.body %></h4>
</div>

<div class="button-control">
  <%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %><br>
</div>

<div class="answer-list">
  <h4><%= t('.answers') %></h4>
  <ul>
    <%= render @question.answers %>
  </ul>
</div>

<div class="button-control">
  <%= link_to t('.button_edit'), edit_admin_question_path(@question) %>
</div>

<div class="button-control">
  <%= link_to t('.button_delete'), admin_question_path(@question),
              method: :delete,
              data: { confirm: t('.confirm_delete') } %><br/>
</div>

<div class="button-back">
  <%= link_to t('.button_back'), admin_test_path(@question.test) %>
</div>
