<%= category_header category: @category %>

<%= form_with model: [:admin, @category], local: true do |form| %>
  <%= render 'shared/errors', resource: @category %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Назад', :back %>