<div class="info-block">
  <h4><%= @category.title %></h4>
</div>

<div class="button-control">
  <%= link_to t('.new_test'), new_admin_category_test_path(@category) %><br>
</div>

<%= render 'shared/errors', resource: @test %>

<div class="test-list">
  <h4 id="sort-by-title" class="sort-by-title pointer">
    <%= t('.tests') %>
    <%= octicon 'arrow-up', class: 'text-success d-none' %>
    <%= octicon 'arrow-down', class: 'text-success d-none' %>
  </h4>
  <ul class="list">
    <%= render @category.tests %>
  </ul>
</div>

<div class="button-control">
  <%= link_to t('.button_edit'), edit_admin_category_path(@category) %>
</div>

<div class="button-control">
  <%= link_to t('.button_delete'), admin_category_path(@category),
              method: :delete,
              data: { confirm: t('.confirm_delete') } %><br/>
</div>

<div class="button-back">
  <%= link_to t('.button_back'), admin_root_path %>
</div>
