<%= test_header test: @test %>

<%= form_with model: [:admin, @category, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :level %><br>
    <%= form.text_field :level %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<div class="button-back">
  <%= link_to 'Назад', :back %>
</div>
