<div class="info-block">
  <h4><%= @test.title %></h4>

  <p><%= t :level %>: <%= @test.title %></p>
  <p><%= @test.class.human_attribute_name(:level) %>: <%= test_level(@test) %></p>
  <p><%= @test.class.human_attribute_name(:author) %>: <%= @test.creator.username.capitalize %></p>
</div>

<div class="button-control">
  <%= link_to t('.new_question'), new_admin_test_question_path(@test) %><br>
</div>

<div class="question-list">
  <h4><%= t('.questions') %></h4>
  <ul>
    <%= render partial: 'admin/questions/question', collection: @test.questions %>
  </ul>
</div>

<div class="button-control">
  <%= link_to t('.button_edit'), edit_admin_test_path %>
</div>

<div class="button-control">
  <%= link_to t('.button_delete'), admin_test_path,
    method: :delete,
    data: { confirm: t('.confirm_delete') } %><br />
</div>

<div class="button-back">
  <%= link_to t('.button_back'), admin_category_path(@test.category) %>
</div>
